/* css box model, animations, flexbox */


/* class selector */
.green{
    color: green;
}


/* css box model
border -> thickness style color;
padding -> spacing inside the border
margin -> 
*/

.box-model{
    border:5px solid red;
    border-radius: 20px;
    padding:20px;
    margin:50px;
    display: none;
}
.d-none{
    display: none;
}
.card{

    border: 1px solid lightgray;
    border-radius: 12px;
    margin: 12px;
    padding:12px;
    width: 290px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-res{
    width:100%;
    border-radius: 12px;
}

.btn{
    background-color: black;
    color: white;
    padding: 10px 16px;
    border:none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 144px;
}
.user{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    /* border:4px solid rgb(229, 202, 255) */
}
.text-center{
    text-align: center;
}
.img-130{
    height: 130px;
}

.demo{
    height: 70px;
    width: 70px;
    border-radius: 6px;
    background-color:coral;
    animation-name:demo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes demo{
    from{
        background-color:coral;
    }
    to{
        background-color:teal;
        /* margin-left: 300px; */
        transform: rotate(360deg);
        height: 100px;
        width: 100px;
    }
}