.container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 66px;
}
.counter{
    font-size: 96px;
}

.btn{
    background-color: purple;
    color: white;
    padding: 12px 26px;
    border: none;
    border-radius: 66px;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
}