body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 400px;
    margin: 60px auto;
}
.btn{
    background-color: black;
    color: #fff;
    border: none;
    padding: 14px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
input{
    border: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
    padding: 16px;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}
input:focus{
    outline: none;
    border: 1px solid rgb(4, 121, 255);
}