body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: bisque;
}
.container{
    width: 420px;
    margin: 60px auto;
}
.btn{
    background-color: black;
    color: white;
    font-size: 16px;
    border:none;
    border-radius: 12px;
    cursor: pointer;
    padding: 16px 38px;
    margin-top: 12px;
    width: 100%;
}
.card{
    text-align: center;
    width: 400px;
    padding: 24px;
    background-color: #fff;
    border-radius: 14px;
    margin: 80px auto
}
input{
    width: 50%;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 12px;
    font-size: 17px;
}
input:last-child{
    margin-left: 10px;
}
.flex{
    display: flex;
}
.card h1{
    font-size: 60px;
    margin: 0;
}
input:focus{
    outline: none;
    border: 1px solid rgb(255, 206, 146);
}