/* responsive food ordering webpage */
/* css box model, css flexbox, css animations */

/* roadmap => start your web dev journey  */

/* css box model
    border => thickness, style, color
    padding
    margin
*/

.card{
    border: 1px solid lightgray;
    border-radius: 16px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    transition: 300ms;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card:hover{
    transform: rotate(4deg);
    width: 360px;
    border-radius: 22px;
}
.img{
    width: 100%;
    border-radius: 16px;
}
.flexbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}