/* css box model, animations, flexbox */
/* class */
.title{
  color: purple
}


/* box model
border
padding -> spacing insode the border
margin -> 
*/
.box-model{
  border: 5px solid red;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: none;
}
.card{
  border:2px solid blueviolet;
  border-radius: 12px;
  padding: 12px;
  margin: 12px;
  width: 280px;
  flex-grow: 1;
}
.img-140{
  height: 140px;
}
.text-center{
  text-align: center;
}
.btn{
  background-color: black;
  color: white;
  padding: 6px 18px;
  border-radius: 44px;
  text-decoration: none;
}
.img-res{
  width: 100%;
  border-radius: 12px;
}

.demo{
  background-color: orange;
  height: 60px;
  width: 60px;
  border-radius: 12px;
  animation-name: demo;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}
@keyframes demo{
  from{}
  to{
    background-color: turquoise;
    margin-left: 200px;
    transform: rotate(360deg)
  }
}

.user{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.flex-box{
  display: flex;
  flex-wrap: wrap;
}