/* box model, css animations and CSS Flexbox, css positions */
/* Responsive food ordering webpage */

/* class name always starts with a dot */
.red{
    color:red;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* box model
border => 
padding => spacing inside the border
margin => spacing outside the border
*/
.food-items{
    border: 1px solid lightgray;
    border-radius: 16px;
    width: 320px;
    padding: 8px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.food-img{
    width: 100%;
    border-radius: 16px;
}
.btn{
    background-color: black;
    color: white;
    border:none;
    padding: 12px 24px;
    border-radius: 40px;
    cursor: pointer;
}
/* positions
    relative
    absolute
    fixed
*/
.help-btn{
    background-color: black;
    color: white;
    border:none;
    padding: 12px 24px;
    border-radius: 40px;
    position: fixed;
    right:0;
    bottom: 0;
    margin: 50px;
}
.food-header{
    position: relative;
}
.ratings{
    position: absolute;
    bottom:0;
    background-color: white;
    padding: 3px 12px;
    font-size: 14px;
    margin: 20px;
    border-radius: 24px;
}
.flex{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
/* .food-items:hover{
    animation-name: card-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes card-animation {
    100%{
        transform: rotate(2deg);
        
    }
} */

.orderSuccessful{
    width: 520px;
    border:1px solid #ccc;
    /* box-shadow: 0 6px 6px #ddd; */
    margin: 50px auto;
    border-radius: 16px;
    display: none;
}
.text-center{
    text-align: center;
}
.details{
    padding: 20px;
}
.detailsChild{
    display: flex;
    justify-content: space-between;
}
.icon{
    font-size: 120px;
    margin:0
}
.detailsChild p{
    margin: 6px 0;
}