*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    font-size:55px;
}
/* classes, box model, animations, flexbox */

.title{
    color:blueviolet;
    font-size:55px;
}
.text-center{
    text-align:center;
}

/* box model
border
padding -> spacing inside the border
margin -> spacing outside the border
*/
/* p{
    border:5px solid red;
    border-radius: 30px;
    padding: 30px;
    margin:160px;
    display: none;
} */

.card{
    width: 320px;
    margin: 12px;
    box-shadow: 0 0 10px lightgray;
    border-radius: 10px;
    border-radius: 12px;
    padding: 7px;
}
.img-res{
    width: 100%;
    border-radius: 12px;
}
.btn{
    background-color: black;
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    border-radius: 122px;
}
.airbnb-card{
    margin: 12px;
    border-radius: 12px;
    width: 260px;
    color: white;
    height: 360px;
}
.img-top{
 width: 100%;
 border-top-left-radius: 12px;
 border-top-right-radius: 12px;
}
.bg-1{
    background-color:#D93B30;
}
.bg-2{
    background-color:#BC1A6E;;
}
.bg-3{
    background-color:#CC2D4A;
}
.bg-4{
    background-color:#DE3151;;
}
.body{
    padding: 12px;
}
.airbnb-card-title{
    margin-bottom: 0 !important;
    font-size: 30px;
    font-weight: normal;
}
.airbnb-card-desc{
    margin: 6px 0;
}
.flex-container{
    display: flex;
    justify-content: center;
    display: none;
}
.demo{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 12px;
    animation-name: demo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes demo{
    from{
        background-color: red;
    }
    to{
        background-color: blue;
        margin-left: 600px;
        transform: rotate(360deg);
        height: 70px;
        width: 70px;
    }
}
