/* responsive travel website */
/* box model, animations, flexbox */

/* box model
    border => thickness, style, color
    padding
    margin
*/
.card{
    transition: .2s;
    border: 1px solid lightgray;
    width: 260px;
    padding: 10px;
    margin:  10px;
    border-radius:  14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card:hover{
    width: 290px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 4px 8px 16px 8px #eee;
    transform: rotate(3deg);
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.flex{
   display: flex; 
   justify-content: center;
   flex-wrap: wrap;
}