/* food ordering webpage => responsive */
/* box model, css flexbox, css animations */

/* class name always starts with a dot */
.red{
    color: red;
}
/* box model
border => thickness, style, color
padding => spacing inside the border
margin => spacing outside the border
*/
.food-card{
    border: 1px solid lightgray;
    border-radius: 18px;
    width: 330px;
    padding: 8px;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.food-card-img{
    width: 100%;
    border-radius: 18px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.food-card:hover{
    animation-name: card-animation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes card-animation{
    100%{
       width: 400px; 
    }
}