/* responsive food ordering webpage */
/* css box model, css flexbox, css animations */

/* box model
    border => thickness, style, color
    padding
    margin
*/
.food-card{
    transition: .2s;
    border: 1px solid lightgray;
    width: 266px;
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.food-card:hover{
    width: 290px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 4px 8px 16px 8px #eee;
    transform:rotate(3deg);
}
.food-card p{
    font-size: 14px;
}
.food-card-img{
    width: 100%;
    border-radius: 14px;
}
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}