body{
    margin: 0;
    background-color: rgb(255, 230, 225);
}
.container{
    width: 400px;
    margin: 50px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 14px;
    border-radius: 14px;
    background-color: #fff;
}
.btn{
    background-color: tomato;
    color: white;
    font-size: 15px;
    padding: 18px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 14px;
    width: 100%;
}
.flex{
    display: flex;
}
input{
    width: 50%;
    padding: 17px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid lightgray;

}
input:last-child{
    margin-left: 10px;
}
input:focus{
    outline: none;
    border: 1px solid tomato
}