/* box model, flexbox, animations, positions
food ordering application */

/* class name always starts with a dot */
.red{
    color: red;
}

/* box model:
border -> thickness, style, color
padding
margin
*/
.card{
    border: 1px solid lightgray;
    border-radius: 18px;
    padding: 10px;
    margin: 8px;
    width: 330px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-align: center; */
}
.card-img{
    width: 100%;
    border-radius: 18px;
}
.btn{
    background-color: black;
    border:none;
    color: white;
    padding: 12px 24px;
    border-radius: 80px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.demo{
    height: 80px;
    width: 80px;
    background-color: turquoise;
    animation-name: demo-animation;
    animation-duration: 1s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
/* @keyframes is used to define destination */
@keyframes demo-animation {
    100%{
        background-color: blueviolet;
        transform: rotate(360deg);
        margin-top: 700px;
    }
}

.card:hover{
    animation-name: card-animation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes card-animation {
    100%{
        /* width: 360px; */
        transform: rotate(3deg);
    }
}