.container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.fs-1{
    font-size: 80px;
}
.fs-2{
    font-size: 60px;
}

.btn{
    background-color: purple;
    color: white;
    border: none;
    border-radius: 144px;
    padding: 12px 32px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
